:root {
  --font-family: 'Inter', sans-serif;

  --primary-main: #8547EB;
  /*NOTE: 沒用到*/
  --primary-light-disable: #6C3ABE;
  /*NOTE: 沒用到*/
  --primary-dark-active: #6C3ABE;
  /*NOTE: js 部分還沒換*/
  --primary-hover: #9C6AEF;

  /*NOTE: js 部分還沒換, 還有寫死的 js*/
  --secondary-main: #10B98F;
  /*NOTE: 沒用到*/
  --secondary-light-disable: #0D9574;
  /*NOTE: 沒用到*/
  --secondary-dark-active: #0D9574;
  /*NOTE: 沒用到*/
  --secondary-hover: #3EC6A4;
  /*NOTE: 沒用到*/
  --liner-main-from: #8547EB;
  --liner-main-to: #10B98F;

  --state-error-main: #EF4444;
  /*x*/
  --state-error-light: #FEE2E2;
  /*x*/
  --state-error-dark: #B91C1C;
  /*x*/
  --state-success-main: #10B965;
  /*x*/
  --state-success-light: #D1FAE5;
  /*x*/
  --state-success-dark: #04783E;

  --state-info-main: #3B82F6;
  /*x*/
  --state-info-light: #DBEAFE;
  /*x*/
  --state-info-dark: #1D4ED8;

  --state-warn-main: #F59E0B;
  /*x*/
  --state-warn-light: #FEF3C7;
  /*x*/
  --state-warn-dark: #B45309;

  /*?*/
  --grayscale-00: #000000;
  --grayscale-10: #1A1A1A;
  /*TODO: 接續*/
  --grayscale-15: #262626;
  --grayscale-20: #333333;
  --grayscale-30: #4D4D4D;
  --grayscale-40: #666666;
  --grayscale-50: #808080;
  --grayscale-60: #999999;
  --grayscale-70: #B3B3B3;
  --grayscale-80: #CCCCCC;
  --grayscale-90: #E6E6E6;
  --grayscale-100: #FFFFFF;

  /*x*/
  --background-tabbar: #152951;
  /*x*/
  --background-header: #2D3047;


  /*NOTE: 得重構*/
  /*NOTE: figma 沒有 自己拆出來的*/
  --input-border: transparent;
  --input-background: #4D4D4D;
  --input-placeholder-color: #666666;
  --input-text-color: #FFFFFF;

  --input-focus-border: transparent;
  --input-focus-background: transparent;

  --input-invalidation-border: #EF4444;
  --input-invalidation-text-color: #EF4444;

}
