.newOverdueStatisticsTable{
    :global {
        .ant-table-thead > tr > th .ant-table-header-column{
            display: block;
        }
    }

}

.customColumnTitle{
    border: 1px solid #e8e8e8;
    border-bottom: none;
    white-space: nowrap;
}