$slider-height: 5px;
$slider-button-size: 18px;
$slider-button-inner-size: 10px;
.slider {
  width: 100%;

  .quota-slider {
    height: $slider-height;
  }

  //NOTE: 拉霸按鈕左側捲軸
  .quota-slider-track-0 {
    background: #FFFFFF;
    height: $slider-height;
    border-radius: 8px;
  }
  //NOTE: 拉霸按鈕右側捲軸
  .quota-slider-track-1 {
    background: #D37100;
    height: $slider-height;
    border-radius: 8px;
  }
  .quota-slider-track-disable-1 {
    background: #FFFFFF;
    height: $slider-height;
    border-radius: 8px;
  }
  .example-track {
    //width: 100px;
    //background: lightcoral;
  }
  // NOTE: 拉霸按鈕
  .quota-slider-thumb {
    border: 1.5px solid #F58B10;
    background: #fff;

    width: $slider-button-size;
    height: $slider-button-size;

    top: -7px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    // NOTE: 拉霸按鈕-內圓
    .quota-slider-thumb-inner {
      background: #33AF85;
      width: $slider-button-inner-size;
      height: $slider-button-inner-size;
      border-radius: 50%;
    }
    .quota-slider-thumb-inner-disable {
      background: #686868;
      width: $slider-button-inner-size;
      height: $slider-button-inner-size;
      border-radius: 50%;
    }
  }
  // NOTE: 被 focus 狀態拉霸按鈕
  .active-quota-slider-thumb {
    background: lightpink;
  }
}

