{

  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": { "version": "3.8", "proposals": true },
        "useBuiltIns": "usage",
        "debug": true,
        "browserslistEnv": ".browserslistrc"
      }
    ],
    [
      "@nrwl/react/babel",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": [
    ["styled-components", { "pure": true, "ssr": true }]
  ]
}
