{
  "presets": [
    [
      "@babel/preset-env",
      {
        "debug": true,
        "useBuiltIns": false,
        "targets": [
          "last 2 version",
          "chrome >= 58",
          "android >= 58",
          "not IE 9-11"
        ]
      }
    ],
    [
      "@nrwl/react/babel",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": [
    ["styled-components", { "pure": true, "ssr": true }]
  ]
}
